html, body { width: 100%; height: 100%; margin: 0; background: #fff; }

#mymap, #mymap2, #mymap3, #mysatellitemap, #mysatellitemap2, #mymap4  {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(213,218,220);
}



.content-right{
  text-align: right;
}




/* accessories */

#area {
  line-height: 12px;
  width: 280px;
  position: absolute;
  z-index: 1000;
  left: 10px;
  top: 0px;
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  padding: 6px 8px;
  background: #000000;
  background: rgba(38, 38, 38, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#area i {
  width: 25px;
  height: 16px;
  float: left;
  /* margin-right: 8px; */
  opacity: 0.7;
}

#area p {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

#info {
  position: fixed;
  z-index: 1000;
  top: 1px;
  right: 1px;
  width: 300px;
  color: white;
  padding: 6px 8px;
  background: transparent;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: 'Alegreya Sans SC', sans-serif;
}

#chart {
  position: fixed;
  font-family: 'Alegreya Sans SC', sans-serif;
  width: 100%;
  min-height: 400px;
}

/* .info {
  padding: 6px 8px;
  font: 12px/14px;
  font-family: 'Alegreya Sans SC', sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

 #info1 {
  position: fixed;
  z-index: 1000;
  bottom: 0px;
  right: 0px;
  width: 300px;
  color: white;
  padding: 6px 8px;
  background: black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.info1 {
  padding: 6px 8px;
  font: 12px/14px;
  font-family: 'Alegreya Sans SC', sans-serif;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
} */


p {
  font-family: 'Alegreya Sans SC', sans-serif;
  margin: 0 0 5px;
  color: #065581;
  font-size: 18px;
}

/* .info h4 {
  font-family: 'Alegreya Sans SC', sans-serif;
  margin: 0 0 5px;
  color: #065581;
  font-size: 14px;
} */

#chartword {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: white;
  stroke-width: 3px;

}

#info2 {
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  right: 0px;
  width: 100%;
  color: black;
  padding: 6px 8px;
  background: #EAEDED;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-family: 'Alegreya Sans SC', sans-serif;
}

#cloud {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
  background: #EAEDED;
}


.leaflet-control-layers {
  color: #333333 !important;
  padding: 6px 8px;
  width: 20vw !important;
  height: 300px;
  border: none !important;
  background: rgba(225, 225, 225, 0.5) !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px !important;

}


label {
  line-height: 16px;
  margin-bottom: 0px;

}
